.CreateVacancyContainer {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	padding-top: 20px;
}

.SmallText {
	height: 22px;
	font-family: 'Noto Sans';
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
	padding: 0px;
	margin: 0px;
}

.StepNavigation {
	flex: 0 1 304px;
}

.StepContent {
	width: 100%;
	min-height: 780px;
}

.StepContentContainer {
	flex: 2 2 768px;
	padding-inline: 29px;
	padding-bottom: 40px;
	width: 100%;
}

.container-grid {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.step-navigation {
	height: 368px;
	width: 344px;
}

.step-content {
	min-height: 650px;
	width: 768px;
	padding: 20px 30px 20px 30px;
}

.steps-action {
	display: flex;
	justify-content: space-between;
}

.wider-button {
	width: 140px;
}

.StepNavigation .ant-steps-item-process.ant-steps-item-active {
	background-color: rgba(1, 94, 162, 0.1);
	border-left: 4px solid var(--color-primary);
}

.StepNavigation .ant-steps-item-process.ant-steps-item-icon {
	background: var(--color-primary);
	border-color: var(--color-primary);
	margin-top: 5px;
}

.StepNavigation .ant-steps-item-container {
	padding: 5px 10px;
}

.StepNavigationv .ant-steps-vertical .ant-steps-item-icon {
	margin-top: 5px;
}

.StepNavigation
	.ant-steps-item-wait
	> .ant-steps-item-container
	> .ant-steps-item-tail::after {
	background-color: rgba(1, 94, 162, 0.1);
}

.StepNavigation
	.ant-steps-item-process
	> .ant-steps-item-container
	> .ant-steps-item-tail::after {
	background-color: var(--color-primary);
}

.StepNavigation .ant-steps-item-tail::after {
	margin-left: 10px;
	margin-top: 10px;
}

.StepNavigation
	.ant-steps-item-finish
	> .ant-steps-item-container
	> .ant-steps-item-tail::after {
	background-color: var(--color-primary);
}

.StepNavigation .ant-steps-item-finish .ant-steps-item-icon {
	background-color: #fff;
	border-color: var(--color-primary);
}

.StepNavigation .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
	color: var(--color-primary);
}

.StepNavigation .ant-steps-item-process .ant-steps-item-icon {
	background: var(--color-primary) !important;
}

.StepNavigation .ant-steps-item-process .ant-steps-item-icon {
	background-color: #fff;
	border-color: var(--color-primary) !important;
}

.StepNavigation .ant-steps-item-finish .ant-steps-item-icon {
	background-color: #fff;
	border-color: var(--color-primary) !important;
}

.StepNavigation
	.ant-steps-item-finish
	> .ant-steps-item-container
	> .ant-steps-item-tail::after {
	background-color: var(--color-primary) !important;
}

.StepNavigation .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
	color: var(--color-primary) !important;
}

.Hidden {
	display: none;
}

.ErrorPanel p {
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
}

.ErrorPanel ul {
	padding-left: 15px;
	color: red;
	list-style-position: inside;
}
