.EditableReferencesContainer {
	margin: 34px;
	width: 700px;
	overflow:hidden;
}

.EditableReferencesContainer h2 {
	font-family: var(--ff-primary);
	font-size: 14px;
	margin-bottom: 4px;
}

.EditableReferencesContainer > span {
	margin-bottom: 16px;
	color: var(--text-light);
}
