.ScoringWidgetContainer .InfoCardRow {
	padding-bottom: 12px;
}

.ScoringWidgetContent {
	padding-inline: 12px;
	padding-bottom: 12px;
}

.ScoringWidgetContent .ant-radio-button-wrapper {
	margin-right: 6px;
	padding-inline: 10px;
}

.ScoringWidgetContent h2 {
	font-family: var(--ff-primary);
	font-size: 13px;
	margin-bottom: 4px;
}

.ScoringWidgetMemberPicker {
	padding-inline: 12px;
	margin-bottom: 12px;
}

.ScoringWidgetMemberPicker h2 {
	margin-bottom: 5px;
}
