.document-row {
  display: flex;
  align-items: baseline;
  padding: 16px;
  flex-direction:column;
}

.document-title {
  padding-bottom: 6px;
  padding-right: 16px;
  font-weight: 600;
}

.upload-documents {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
}

.doc-types{
    font-size: 12px;
    font-weight: 300;
    padding-left:4px;
}