.flex-container {
	display: flex;
	max-width: 769px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex-container > * {
	flex-grow: 1;
	max-width: 375px;
}

@media (max-width: 575px) {
	.flex-container {
		display: block;
	}
}
