.BasicInfoFlexWrap {
	display: flex;
	flex-wrap: wrap;
}

.BasicInfoHRCheckbox .ant-checkbox + span {
	padding-left: 0px;
}

.DatePickerContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
}

.DatePicker {
	flex-shrink: 1;
	flex-grow: 1;
	max-width: 320px;
}

.Slider {
	flex: 0 1;
	width: 50vw;
}

.CategorySlider {
	flex: 0 1;
	width: 35vw;
}

.ant-checkbox-wrapper {
	color: rgba(0, 0, 0, 0.65);
	font-family: 'Noto Sans';
	font-size: 14px;
}

.ant-form-item-label > label {
	color: #333333;
	font-family: 'Noto Sans';
	font-size: 16px;
	height: 12px;
}

.Radio {
	height: 22px;
	width: 248.47px;
	color: rgba(0, 0, 0, 0.65);
	font-family: 'Noto Sans';
	font-size: 14px;
	letter-spacing: 0.3px;
	line-height: 22px;
}

.QuillEditor {
	height: 400px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.ql-editor {
	font-family: "Arial";
}

  .ql-picker.ql-font .ql-picker-item ::before{
	content: attr(data-value) !important;
	font-size: 14px;
  }
  
  .ql-picker.ql-font .ql-active ::before{
	content: attr(data-value) !important;
	font-size: 14px;
  }
  
  .ql-picker.ql-font .ql-picker-label[data-value="Arial"]::before, 
  .ql-picker.ql-font .ql-picker-item[data-value="Arial"]::before
  {
	  font-family: "Arial", cursive;
	  content: "Arial" !important;
  }
  
  .ql-picker.ql-font .ql-picker-label[data-value="Monaco"]::before, 
  .ql-picker.ql-font .ql-picker-item[data-value="Monaco"]::before
  {
	  font-family: "Monaco", cursive;
	  content: "Monaco" !important;
  }
  
  .ql-picker.ql-font .ql-picker-label[data-value="Montserrat"]::before, 
  .ql-picker.ql-font .ql-picker-item[data-value="Montserrat"]::before
  {
	  font-family: "Montserrat", cursive;
	  content: "Montserrat" !important;
  }
  
  .ql-picker.ql-font .ql-picker-label[data-value="Optima"]::before, 
  .ql-picker.ql-font .ql-picker-item[data-value="Optima"]::before
  {
	  font-family: "Optima", cursive;
	  content: "Optima" !important;
  }
  
  .ql-picker.ql-font .ql-picker-label[data-value="Georgia"]::before, 
  .ql-picker.ql-font .ql-picker-item[data-value="Georgia"]::before
  {
	  font-family: "Georgia", cursive;
	  content: "Georgia" !important;
  }
  
  /* Set content font-families */
  .ql-font-Arial {
	font-family: "Arial";
  }
  .ql-font-Monaco {
	font-family: "Monaco";
  }
  .ql-font-Montserrat {
	font-family: "Montserrat";
  }
  .ql-font-Optima {
	font-family: "Optima";
  }
  .ql-font-Georgia {
	font-family: "Georgia";
  }
@media (max-width: 500px) {
	.Slider {
		margin-top: 40px;
	}

	.VacancyDescription {
		margin-bottom: 40px;
	}
}

.BasicInfo .ql-disabled .ql-editor {
	color: rgba(0, 0, 0, 0.25);
	background-color: #f5f5f5;
	cursor: not-allowed;
	opacity: 1;
}
