.applicant-table {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.applicant-table td.ant-table-column-sort {
	background-color: inherit;
}

.checked-green {
	color: #117E46;
	font-size: 25px;
	margin-left: 15px;
}

.closed-red {
	color: #8b0000;
	font-size: 25px;
	margin-left: 15px;
}

.tabs-div {
	background-color: white;
	padding-top: 15px;
	padding-left: 0px;
	margin-top: -15px;
}