.Login {
	height: 30px;
	width: 125px;
	color: #015ea2;
	font-family: 'Noto Sans';
	font-size: 14px;
	letter-spacing: 0;
	line-height: 22px;
}

.Login .ant-btn-background-ghost {
	border-color: white;
	box-shadow: none;
}

.LoginMenu .ant-dropdown-menu-item {
	color: var(--color-primary);
}

.CustomIcon {
	height: 32px;
	display: inline-block;
	padding: 5px;
}

.NewUserSpan {
	padding-left: 12px;
	color: var(--text-light);
}
