.ButtonContainer {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-grow: 1;
    border: 0.5px solid rgb(207, 207, 207);
    padding: 0px;
}

.BorderlessButton {
    color: rgb(207, 207, 207);
    border: none;
    padding: 1px;
    flex-shrink: 2;
}

.InputWithButton {
    flex-grow: 2;
    border: none;
}

.InputWithButton:focus,
.InputWithButton:hover {
    outline: none;
}