.InfoCardHeading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.InfoCardContainer h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-inline: 16px;
	margin: 0px;
}

.InfoCardContainer hr {
	border: transparent;
	border-bottom: 1px solid var(--secondary-bg-color);
}

.InfoCardContent {
	width: 100%;
	color: var(--text-light);
	margin-top: 9px;
}

.InfoCardSwitchLabel {
	margin-right: 10px;
	color: var(--text-light);
	font-size: 10.5px;
}

.InfoCardSwitch {
	margin-right: 5px;
}

@media print {
	@page {
		size: A4 landscape;
		margin: 10mm;
	}
}
