.UserPickerDropdown {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.UserPickerDropdown span {
	flex: 1 1 200px;
	text-align: left;
	width: 100%;
	padding-inline: 5px;
}

.DropdownEmail {
	flex: 1 1 300px;
}
