.NavigationItems {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: row;
	align-items: center;
	height: 100%;
}

.NavigationContainer {
	margin-left: 30px;
	flex-basis: 1000px;
	flex-grow: 2;
	height: 100%;
}

@media (min-width: 500px) {
	.NavigationItems {
		width: 100%;
	}
}
