.LoadingWidget {
	margin: 20px 0;
	padding: 30px 50px;
	text-align: center;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	height: 100vh;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
