@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.OuterContainer {
	width: 100%;
	background-color: #edf1f4;
	padding-bottom: 20px;
}

.ContentContainer {
	width: min(95%, 1170px);
	margin-inline: auto;
<<<<<<< HEAD
}

.ContentContainer h1 {
	margin: 0;
=======
>>>>>>> a27f91f3a5826c01e95f19cfbcf8219ecfe9b1f3
}

.RouteContent {
	background-color: #ffffff;
}

.HeaderTitle {
	background-color: #edf1f4;
	max-width: 1440px;
	max-height: 76px;
	margin: auto;
	padding: 20px 20px 20px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
<<<<<<< HEAD
}

.HeaderTitle > h1 {
  height: 28px;
  width: 207px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
=======
>>>>>>> a27f91f3a5826c01e95f19cfbcf8219ecfe9b1f3
}
