.LabelValuePairContainer {
	display: flex;
	flex-direction: column;
	min-width: 160px;
	margin-right: 16px;
	background-color: #ffffff;
	padding: 4px 0;
}

.LabelValuePairContainer h2 {
	font-family: var(--ff-primary);
	font-size: 14px;
	margin-bottom: 4px;
}

.LabelValuePairContainer > span {
	margin-bottom: 16px;
	background-color: #ffffff;
	/* Allow inline valueStyle to override default color */
}
