:root {
  --ff-primary: "Noto Sans";
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, p {
  font-family: var(--ff-primary);
  margin: 0;
  line-height: 1.6;
}

h1, h2, h3 {
  line-height: 1;
  font-weight: 900;
}

h2, h3, p {
  margin-bottom: 1.5em;
}

h1 {
  font-size: 20px;
}

h2 {
  font-family: 'Montserrat Medium';
  font-size: 16px;
  font-weight: 500;
}

.Content {
  margin-inline: auto;
  background-color: white;
  width: min(90%, 1440px);
}

img {
  max-width: 100%;
  display: block;
}