@import '~antd/dist/antd.less';

:root {
	--ff-primary: 'Noto Sans';
	--color-primary: #015ea2;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
	font-family: var(--ff-primary);
	margin: 0;
	line-height: 1.6;
	color: rgba(0, 0, 0, 0.65);
}

h1,
h2,
h3 {
	line-height: 1;
	font-weight: 900;
}

h2,
p {
	margin-bottom: 1.5em;
}

h1 {
	font-size: 20px;
}

h2 {
	font-family: 'Montserrat Medium';
	font-size: 16px;
	font-weight: 500;
}

h3 {
	font-family: 'Montserrat';
	color: #000000;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 0.5em;
}

.Content {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: min(90%, 1440px);
}

img {
	max-width: 100%;
	display: block;
}
