.basicInfoForm {
	max-width: 769px;
}

.form-desc {
	display: block;
	max-width: 400px;
}

.title-desc {
	color: #333333;
	font-family: 'Noto Sans';
	font-size: 16px;
	letter-spacing: 0;
	line-height: 22px;
}

.form-title {
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 18px;
	letter-spacing: 0;
	line-height: 24px;
}
.names {
	display: flex;
	flex-wrap: wrap;
	max-width: 769px;
}

.names > * {
	flex-grow: 1;
	flex-wrap: wrap;
	width: 250px;
}

.names > * > * {
	flex-grow: 1;
	flex-wrap: wrap;
	width: 250px;
}

.emailDiv {
	flex-grow: 1;
	max-width: 380px;
}

.phones {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.phones > * {
	flex-grow: 1;
	flex-wrap: wrap;
	max-width: 377px;
}

.degree {
	max-width: 380px;
}
