.ant-tabs-tab.ant-tabs-tab-active {
	border-bottom: 5px solid rgb(37, 96, 151) !important;
	color: rgb(37, 96, 151) !important;
}

.ant-tabs-tab-btn[aria-selected='true'] {
	color: rgb(37, 96, 151) !important;
}

.ant-tabs-tab {
	margin-right: 0px;
}

.ant-tabs-tab-btn {
  font-size: 20px !important;
  width: 180px;
  height: 104px;
  margin-right: auto;

}

.ant-tabs-tab:hover {
	border-bottom: 5px solid rgb(37, 96, 151) !important;
}
.ant-tabs-tab:hover p {
	color: rgb(37, 96, 151) !important;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: rgb(37, 96, 151) !important;
  pointer-events: none;
}

.num-count {
	font-size: 32px;
	font-family: 'Montserrat';
	margin-bottom: 0px;
	margin-top: 20px;
}

.tabs-div {
	background-color: white;
	padding-top: 15px;
	padding-left: 20px;
	margin-top: -15px;
}

.tab-letters > * {
  text-align: center;
  font-family: "Montserrat" !important;
  font-weight: 500 !important;
}

.vacancy-desc {
  height: 40px;
  width: 164px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;

}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
	border-color: rgb(37, 96, 151) !important;
	color: rgb(37, 96, 151);
}

.ant-radio-button-wrapper:hover {
	color: rgb(37, 96, 151);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
	background-color: rgb(37, 96, 151) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
	background-color: rgb(37, 96, 151) !important;
}

.ant-pagination-item-active,
.ant-pagination-item-active > a {
	border-color: rgb(37, 96, 151) !important;
	color: rgb(37, 96, 151) !important;
}

.ant-pagination-item:hover,
.ant-pagination-item:hover > a {
	border-color: rgb(37, 96, 151) !important;
	color: rgb(37, 96, 151) !important;
}

.ant-pagination-prev[aria-disabled='false']:hover > *,
.ant-pagination-next[aria-disabled='false']:hover > * {
	border-color: rgb(37, 96, 151) !important;
	color: rgb(37, 96, 151) !important;
}
