.ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: 5px solid rgb(37, 96, 151) !important;
  color: rgb(37, 96, 151) !important;
}

.ant-tabs-tab-btn[aria-selected="true"] {
  color: rgb(37, 96, 151) !important;
}

.ant-tabs-tab {
  margin-right: 0px;
}

.ant-tabs-tab-btn {
  font-size: 20px !important;
  width: 180px;
  height: 104px;
  margin-right: 0px;
}

.ant-tabs-tab:hover {
  border-bottom: 5px solid rgb(37, 96, 151) !important;
  color: rgb(37, 96, 151) !important;
}

.num-count {
  font-size: 32px;
  font-family: "Montserrat";
  margin-bottom: 0px;
  margin-top: 20px;
}

.tabs-div {
  background-color: white;
  padding-top: 15px;
  padding-left: 20px;
  margin-top: -15px;
}

.tab-letters {
  text-align: center;
  font-family: "Montserrat" !important;
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  border-color: rgb(37, 96, 151) !important;
  color: rgb(37, 96, 151);
}

.ant-radio-button-wrapper:hover {
  color: rgb(37, 96, 151);
}
