.vacancy-status {
	background-color: rgb(237, 240, 243);
	padding-top: 40px;
	display: flex;
}

.vacancy-status
	.ant-steps-item-process
	> .ant-steps-item-container
	> .ant-steps-item-tail::after {
	background-color: rgb(198 202 205);
}

.vacancy-status
	.ant-steps-item-process
	.ant-steps-item-icon
	> .ant-steps-icon
	.ant-steps-icon-dot {
	background-color: rgb(69 69 69);
}

.vacancy-status .ant-steps-item-title {
	color: rgb(69 69 69);
	bottom: 60px;
	width: 234px;
	padding-right: 80px;
}

.vacancy-status .ant-steps-dot .ant-steps-item-icon .ant-steps-icon-dot::after {
	background-color: rgb(198 202 205);
}

.vacancy-status
	.ant-steps-item-wait
	> .ant-steps-item-container
	> .ant-steps-item-tail::after {
	background-color: rgb(198 202 205);
}

.vacancy-status
	.ant-steps-item-finish
	> .ant-steps-item-container
	> .ant-steps-item-tail::after {
	background-color: rgb(69 69 69);
}

.vacancy-status
	.ant-steps-item-finish
	.ant-steps-item-icon
	> .ant-steps-icon
	.ant-steps-icon-dot {
	background-color: rgb(69 69 69);
}

@media (max-width: 575px) {
	.vacancy-status .ant-steps-item-title {
		bottom: 4px;
	}

	.AdvanceButton {
		margin-bottom: 20px;
	}

	.SectionHeader {
		background-color: white;
		padding-top: 10px;
	}
}
